body.fondoversion{
  background-color:#40372A;
}
#wrap { 
  margin:0 auto 0 auto;
  width:804px;
}
#dialog_about { 
  margin:0 auto 0 auto;
  width:804px;
}
.wrap_error{
  color:black;
  background-color:White;
  width:auto;
}
.about {
  /*background:#ffffff url('sansung.png') no-repeat right top;*/
  /*background: url(sansung.png) no-repeat;*/
    background: url("../images/entel_equipo.png") no-repeat;    
    width: 100%;
	height: 448px;
    margin-left:0px;
    margin-top:0px;
    background-position: 0 0;	
}
.about p
{
    /*position:absolute;    */
    float: left;
    font-size:12px;
	color:#766A62;
    /*font-weight:bold;*/
    margin-left:90px;
    /*margin-top:115px;*/
	width:210px;
	padding-top:100px;
	text-align : justify;
}

.about .derecha{
  margin-top:90px;
  margin-left:10px;
  float: left;
  height:295px;
  width:400px;
  overflow-y: auto;
  text-align:left;
}

.pretty-table
{
width:376px;
max-height:219px;	
  padding: 0;
  /*margin: 0;*/
  /*width:auto;
  height:auto;*/
  border-collapse: collapse;
  border: 2px solid #FFF;
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  color: #000;
  background: #bcd0e4 url("../images/widget-table-bg.jpg") top left repeat-x;
}

.pretty-table caption
{
  caption-side: bottom;
  font-size: 0.8em;
  font-style: italic;
  text-align: right;
  padding: 0.5em 0;
}

.pretty-table th
{
  border: 1px dotted #666;
  padding: 0.5em;
  text-align: left;
  color: #9C7E4C;
}

.pretty-table td
{
  border: 1px dotted #666;
  padding: 0.5em;
  text-align: center;
  color: #9C7E4C;
}


.pretty-table th[scope=col]
{
  color: #444A43;
  background-color: #B6EB1A;
  text-transform: uppercase;
  font-size: 0.8em;
  border-bottom: 2px solid #333;
  border-right: 2px solid #333;
}

.pretty-table th+th[scope=col]
{
  color: #fff;
  background-color: #E05206;
  border-right: 1px dotted #666;
}

.pretty-table th[scope=row]
{
  background-color: #59ACD6;
  border-right: 2px solid #333;
  text-align:left;
}

.pretty-table tr.alt th
{
  color: #000000;
  text-align:left;
}
.pretty-table tr.alt td
{
  color: #000000;
  text-align:center;
}

.pretty-table tr:hover th[scope=row], .pretty-table tr:hover td
{
  background-color: #632a2a;
  color: #fff;
}